:root {
	--primary-color: #409eff;
	--secondary-color: #c0c4cc;
	--bg-color: #f2f6fc;
	--white-color: #ffffff;
	--border-color: #ebeef5;
	--base-font-color: #606266;
	--base-font-hover-color: #66b1ff;
	--btn-border-color: #dcdfe6;
	--base-dark-bg-color: #1d1e1f;
	--base-light-bg-color: #ffffff;
	--border-light-color: #dcdfe6;
	--border-dark-color: #4c4d4f;
	--picker-dark-color: #2b2b2c;
}
